<header class="header" role="banner">
  <div class="container nav">
    <a class="brand" href="/MSDigital/index.html" aria-label="MS Digital World Home">
      <img class="logo" src="/MSDigital/Logo/Logo.png" alt="MS Digital World" width="36" height="36">
      <span>MS Digital World</span>
    </a>
    <nav aria-label="Primary" class="menu" role="navigation">
      <ul class="menu-list">
        <li><a href="/MSDigital/index.html" data-top="home">Home</a></li>
        <li class="has-dropdown">
          <button class="trigger" data-top="services" aria-haspopup="true" aria-expanded="false">Services <i class="fa-solid fa-chevron-down" aria-hidden="true"></i></button>
          <div class="submenu cols-2" role="menu">
            <div class="col">
              <a role="menuitem" href="/MSDigital/services/website-development.html"><i class="fa-solid fa-code" aria-hidden="true"></i> Website Development</a>
              <a role="menuitem" href="/MSDigital/services/static-website-development.html"><i class="fa-regular fa-file-code" aria-hidden="true"></i> Static Website Development</a>
              <a role="menuitem" href="/MSDigital/services/dynamic-website-development.html"><i class="fa-solid fa-gears" aria-hidden="true"></i> Dynamic Website Development</a>
            </div>
            <div class="col">
              <a role="menuitem" href="/MSDigital/services/ui-ux-design.html"><i class="fa-solid fa-pen-ruler" aria-hidden="true"></i> UI/UX Design</a>
              <a role="menuitem" href="/MSDigital/services/digital-marketing.html"><i class="fa-solid fa-bullhorn" aria-hidden="true"></i> Digital Marketing</a>
              <a role="menuitem" href="/MSDigital/services/seo-services.html"><i class="fa-solid fa-magnifying-glass-chart" aria-hidden="true"></i> SEO Services</a>
              <a role="menuitem" href="/MSDigital/services/cyber-security.html"><i class="fa-solid fa-shield-halved" aria-hidden="true"></i> Cyber Security Services</a>
            </div>
          </div>
        </li>
        <li class="has-dropdown">
          <button class="trigger" data-top="company" aria-haspopup="true" aria-expanded="false">Company <i class="fa-solid fa-chevron-down" aria-hidden="true"></i></button>
          <div class="submenu" role="menu">
            <a role="menuitem" href="/MSDigital/about.html">About Us</a>
            <a role="menuitem" href="/MSDigital/vision-mission.html">Vision &amp; Mission</a>
            <a role="menuitem" href="/MSDigital/our-process.html">Our Process</a>
            <a role="menuitem" href="/MSDigital/our-team.html">Our Team</a>
            <a role="menuitem" href="/MSDigital/certifications-standards.html">Certifications</a>
          </div>
        </li>
        <li class="has-dropdown">
          <button class="trigger" data-top="industries" aria-haspopup="true" aria-expanded="false">Industries <i class="fa-solid fa-chevron-down" aria-hidden="true"></i></button>
          <div class="submenu" role="menu">
            <a role="menuitem" href="/MSDigital/industries.html#startups">Startups</a>
            <a role="menuitem" href="/MSDigital/industries.html#smb">Small Businesses</a>
            <a role="menuitem" href="/MSDigital/industries.html#ecommerce">E-Commerce</a>
            <a role="menuitem" href="/MSDigital/industries.html#corporate">Corporate</a>
            <a role="menuitem" href="/MSDigital/industries.html#international">International Clients</a>
          </div>
        </li>
        <li class="has-dropdown">
          <button class="trigger" data-top="resources" aria-haspopup="true" aria-expanded="false">Resources <i class="fa-solid fa-chevron-down" aria-hidden="true"></i></button>
          <div class="submenu" role="menu">
            <a role="menuitem" href="/MSDigital/blog/">Blog</a>
            <a role="menuitem" href="/MSDigital/trust/case-studies.html">Case Studies</a>
            <a role="menuitem" href="/MSDigital/sales/faqs.html">FAQs</a>
            <a role="menuitem" href="/MSDigital/support/sitemap.html">Sitemap</a>
          </div>
        </li>
        <li><a href="/MSDigital/support/contact.html" data-top="contact">Contact</a></li>
      </ul>
    </nav>
    <div class="cta">
      <a class="btn btn-primary" href="/MSDigital/sales/request-quote.html">Request a Proposal</a>
      <button class="burger" aria-label="Open menu"><i class="fa-solid fa-bars"></i></button>
    </div>
  </div>
</header>
